body {
  height: 100%;
  min-height: 100%;
  font-size: 1.6rem;
  line-height: 1.8;
  font-family: "Open Sans", sans-serif;
  color: #444;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #0078ff;
}

#homepage-hero {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #d9d9d6 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #d9d9d6 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #d9d9d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#d9d9d6",GradientType=0 );
  height: 100vh;
  width: 100vw;
  position: relative;
}

#homepage-hero h1 {
  font-size: 72px;
  font-family: "Gibson-Semibold";
}

.nav-cont {
  background: rgba(255, 255, 255, 0);
}

.nav-cont.fill-white .sup-nav, .nav-cont.fill-white .navbar {
  background: rgba(255, 255, 255, 0.9) !important;
  /*box-shadow:0 2px 2px rgba(0,0,0,0.09) */
}

.nav-cont.fill-white nav a.nav-link {
  color: #000 !important;
}

.nav-cont.fill-white svg {
  fill: black;
}